#startMenu{

position:fixed;

left:20px;
bottom:90px;

width:300px;

padding:20px;

display:none;

background:
rgba(255,255,255,.08);

backdrop-filter:
blur(30px);

border-radius:25px;

}

#startMenu.show{
display:block;
}

.app-launch{

width:100%;

padding:10px;

margin-top:10px;

border:none;

border-radius:10px;

cursor:pointer;

}
