.studio-layout{

display:flex;
flex-direction:column;
gap:10px;

height:100%;

}

.studio-layout textarea{

height:120px;

background:#111;

color:white;

border:none;

padding:10px;

border-radius:10px;

}

#preview{

flex:1;

border:none;

background:white;

border-radius:10px;

}
