*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;
overflow:hidden;

background:#07111d;
color:white;

}

.background{

position:fixed;
width:100%;
height:100%;

background:
radial-gradient(circle at 20% 20%,
rgba(0,120,255,.4),
transparent),

radial-gradient(circle at 80% 40%,
rgba(0,200,255,.3),
transparent),

linear-gradient(
135deg,
#07111d,
#0c1c31,
#12345c
);

z-index:-1;

}

.topbar{

position:fixed;

top:10px;
left:50%;

transform:translateX(-50%);

width:95%;
height:60px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(30px);

border-radius:20px;

border:1px solid rgba(255,255,255,.15);

}

.logo{

font-size:22px;
font-weight:bold;

}

#startButton{

padding:10px 15px;

border:none;

border-radius:15px;

background:rgba(255,255,255,.1);

color:white;

cursor:pointer;

}

.start-menu{

position:fixed;

bottom:90px;
left:20px;

width:300px;

padding:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(30px);

border-radius:25px;

border:1px solid rgba(255,255,255,.15);

}

.menu-app{

padding:10px;

margin-top:10px;

border-radius:10px;

cursor:pointer;

}

.menu-app:hover{

background:rgba(255,255,255,.1);

}

.hidden{

display:none;

}

.desktop-icon{

margin-top:120px;
margin-left:30px;

width:90px;

text-align:center;

cursor:pointer;

}

.desktop-icon p{

margin-top:5px;

}

.window{

position:absolute;

top:150px;
left:150px;

width:500px;
height:350px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(35px);

border-radius:25px;

border:1px solid rgba(255,255,255,.15);

overflow:hidden;

}

.window-header{

height:50px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 15px;

background:rgba(255,255,255,.08);

cursor:move;

}

.window-header button{

background:none;
border:none;
color:white;
cursor:pointer;

font-size:18px;

}

.window-content{

padding:15px;
height:100%;

}

textarea{

width:100%;
height:240px;

background:rgba(255,255,255,.08);

border:none;

color:white;

padding:10px;

border-radius:15px;

resize:none;

}

.dock{

position:fixed;

bottom:20px;
left:50%;

transform:translateX(-50%);

display:flex;
gap:15px;

padding:15px 25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(35px);

border-radius:30px;

border:1px solid rgba(255,255,255,.15);

}

.dock-icon{

font-size:30px;

cursor:pointer;

transition:.3s;

}

.dock-icon:hover{

transform:scale(1.3);

}